* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Myriad Pro Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Regular"),
        url("../fonts/MYRIADPRO-REGULAR.OTF") format("woff");
}

body {
    font-family: "Myriad Pro Regular" !important;
}

.bg-primaryColor {
    background-color: #133155 !important;
}

.bg-primaryColorRed {
    background-color: #e62e2d !important;
}

.bg-secondaryColor {
    background-color: #072b49 !important;
}

.bg-redColor {
    background-color: #ff0e0e !important;
}

.bg-yellowColor {
    background-color: #ffc700 !important;
}

.bg-grey {
    background-color: #f1f1f1;
}

.primaryColor {
    color: #112b49 !important;
}

.redColor {
    color: #ff0e0e !important;
}

.secondaryColor {
    color: #072b49 !important;
}

.white {
    color: #fff !important;
}

.black {
    color: #010101 !important;
}

.line {
    height: 3px;
}

.hero-line {
    height: 5px;
}

.w30 {
    width: 150px !important;
    margin-top: -12px !important;
}

.section {
    padding-top: 35px !important;
    padding-bottom: 100px !important;
}

.category a {
    font-size: 20px !important;
    line-height: 3.7rem !important;
}

.categories {
    padding-left: 30px !important;
}

.searchInput {
    border-radius: 0 !important;
}

@media screen and (max-width: 768px) {
    .dropdown-menu {
        border: none !important;
    }
}

@media (max-width: 767px) {
    .navotherbar-collapse {
        position: inherit !important;
    }
}

@media screen and (max-width: 768px) {
    .categories {
        padding-left: 80px !important;
    }
}

.website {
    font-size: 14px !important;
}

.blog-content {
    margin: auto;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: -15px;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-size-adjust: auto;
}

.blog-content p > a {
    font-weight: 600 !important;
    text-transform: capitalize;
}

.container-contact {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden !important;
    flex-wrap: wrap !important;
    align-items: center;
    padding: 90px 130px 88px 148px;
}

.contact-pic {
    width: 296px;
}

.uppercase {
    text-transform: uppercase;
}

.search {
    position: relative;
    height: 50px;
    top: -10px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn-search {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: -5px;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn-search:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn-search {
    transform: translateX(198px);
}

@media screen and (max-width: 800) {
    .contact-pic {
        display: none;
    }
}

.contact-pic img {
    max-width: 100%;
}

.contact-form {
    width: 390px;
}

.contact-form-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}

input.input1 {
    height: 50px;
    border-radius: 10px;
    padding: 0 30px;
}

input.input1 + .shadow-input1 {
    border-radius: 10px;
}

textarea.input1 {
    min-height: 150px;
    border-radius: 10px;
    padding: 12px 30px;
}

textarea.input1 + .shadow-input1 {
    border-radius: 10px;
}

input {
    outline: none !important;
}

/*---------------------------------------------*/

.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

.shadow-input1 {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #072b49;
}

.input1:focus + .shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

.container-contact-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form-btn {
    min-width: 193px;
    height: 50px;
    width: 100%;
    background: #072b49;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact-form-btn:hover {
    background: #ffc700 !important;
    color: #010101 !important;
}

.contact-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

/*------------------------------------------------------------------
  [ Responsive ]*/

@media (max-width: 1200px) {
    .contact-pic {
        width: 33.5%;
    }
    .contact-form {
        width: 44%;
    }
}

@media (max-width: 992px) {
    .container-contact {
        padding: 0 !important;
    }
    .contact-pic {
        width: 35%;
    }
    .contact-form {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .container-contact {
        padding: 90px 80px 88px 80px;
    }
    .contact-pic {
        display: none;
    }
    .contact-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container-contact {
        padding: 90px 15px 88px 15px;
    }
}

/*------------------------------------------------------------------
  [ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

/*===========================
    COMMON css
===========================*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:300,400,500,600,600i,700,900&display=swap");
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #8c96a7;
    overflow-x: hidden;
    width: revert !important;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.navotherbar-toggler:focus,
*:focus,
a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    color: #133155;
}

a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: initial;
    text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #393e46;
    font-family: "Myriad Pro Regular";
    margin: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 33px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #8c96a7;
    margin: 0px;
}

.img-bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.theme-bg {
    background-color: #133155;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px;
    }
}

.read-more {
    font-size: 18px;
    font-weight: 500;
    color: #133155;
    font-family: "Raleway", sans-serif;
}

.read-more i {
    margin-left: 15px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.read-more:hover i {
    margin-left: 30px;
}

.error {
    color: crimson;
}

.success {
    color: #133155;
}

.shape {
    position: absolute;
}

.tns-navother {
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 99;
}

.tns-navother button {
    cursor: pointer;
    text-indent: -999999px;
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 15px;
    height: 15px;
    background: rgba(0, 173, 181, 0.31);
    margin: 0 8px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.tns-navother button.tns-navother-active {
    background: #133155;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*===== All Button Style =====*/

.theme-btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 18px 40px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    background-color: #133155;
}

.theme-btn:hover {
    background-color: #072b49;
    color: #fff;
    border-color: transparent;
    -webkit-box-shadow: 0 10px 25px rgba(0, 173, 181, 0.3);
    box-shadow: 0 10px 25px rgba(0, 173, 181, 0.3);
}

.scroll-top {
    width: 35px;
    height: 35px;
    background: #4381ec;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.scroll-top:hover {
    color: #fff;
    background: #072b49;
}

.voir_plus {
    margin-top: 15px;
}

@keyframes animation1 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes animation1 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*===== All Section Title Style =====*/

.section-title span {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 600;
    display: block;
    color: #133155;
    margin-bottom: 15px;
}

/*===== All Preloader Style =====*/

.preloader {
    /* Body Overlay */
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    /* Change Background Color */
    background: #fff;
    z-index: 99999;
}

.preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.preloader .loader .ytp-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
}

.preloader .loader .ytp-spinner .ytp-spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    -webkit-animation: ytp-spinner-linspin 1568.2353ms linear infinite;
    animation: ytp-spinner-linspin 1568.2353ms linear infinite;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
        both;
}

.preloader
    .loader
    .ytp-spinner
    .ytp-spinner-container
    .ytp-spinner-rotator
    .ytp-spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    right: 50%;
}

.preloader
    .loader
    .ytp-spinner
    .ytp-spinner-container
    .ytp-spinner-rotator
    .ytp-spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    left: 50%;
}

.preloader .loader .ytp-spinner-circle {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #133155 #133155 #8c96a7;
    border-radius: 50%;
    border-width: 6px;
}

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: #8c96a7;
    -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
}

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: #8c96a7;
    -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */

@-webkit-keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

@keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55 {
    margin-top: 55px !important;
}

.mt-60 {
    margin-top: 60px;
}

.mt-65 {
    margin-top: 65px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-95 {
    margin-top: 95px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-105 {
    margin-top: 105px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-115 {
    margin-top: 115px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-125 {
    margin-top: 125px;
}

.mt-130 {
    margin-top: 130px;
}

.mt-135 {
    margin-top: 135px;
}

.mt-140 {
    margin-top: 140px;
}

.mt-145 {
    margin-top: 145px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-155 {
    margin-top: 155px;
}

.mt-160 {
    margin-top: 160px;
}

.mt-165 {
    margin-top: 165px;
}

.mt-170 {
    margin-top: 170px;
}

.mt-175 {
    margin-top: 175px;
}

.mt-180 {
    margin-top: 180px;
}

.mt-185 {
    margin-top: 185px;
}

.mt-190 {
    margin-top: 190px;
}

.mt-195 {
    margin-top: 195px;
}

.mt-200 {
    margin-top: 200px;
}

.mt-205 {
    margin-top: 205px;
}

.mt-210 {
    margin-top: 210px;
}

.mt-215 {
    margin-top: 215px;
}

.mt-220 {
    margin-top: 220px;
}

.mt-225 {
    margin-top: 225px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-img {
    margin-bottom: 2px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-55 {
    margin-bottom: 30px;
    margin-top: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-65 {
    margin-bottom: 65px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-75 {
    margin-bottom: 75px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-85 {
    margin-bottom: 85px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-95 {
    margin-bottom: 95px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-105 {
    margin-bottom: 105px;
}

.mb-110 {
    margin-bottom: 110px;
}

.mb-115 {
    margin-bottom: 115px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-125 {
    margin-bottom: 125px;
}

.mb-130 {
    margin-bottom: 130px;
}

.mb-135 {
    margin-bottom: 135px;
}

.mb-140 {
    margin-bottom: 140px;
}

.mb-145 {
    margin-bottom: 145px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mb-155 {
    margin-bottom: 155px;
}

.mb-160 {
    margin-bottom: 160px;
}

.mb-165 {
    margin-bottom: 165px;
}

.mb-170 {
    margin-bottom: 170px;
}

.mb-175 {
    margin-bottom: 175px;
}

.mb-180 {
    margin-bottom: 180px;
}

.mb-185 {
    margin-bottom: 185px;
}

.mb-190 {
    margin-bottom: 190px;
}

.mb-195 {
    margin-bottom: 195px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mb-205 {
    margin-bottom: 205px;
}

.mb-210 {
    margin-bottom: 210px;
}

.mb-215 {
    margin-bottom: 215px;
}

.mb-220 {
    margin-bottom: 220px;
}

.mb-225 {
    margin-bottom: 225px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-55 {
    padding-top: 55px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-65 {
    padding-top: 65px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-75 {
    padding-top: 75px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-85 {
    padding-top: 85px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-95 {
    padding-top: 95px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-105 {
    padding-top: 105px;
}

.pt-110 {
    padding-top: 110px;
}

.pt-115 {
    padding-top: 115px;
}

.pt-120 {
    /*padding-top: 120px;*/
    padding-top: 65px;
    background-color: #152f6503;
}

.pt-125 {
    padding-top: 125px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-135 {
    padding-top: 135px;
}

.pt-140 {
    padding-top: 140px;
}

.pt-145 {
    padding-top: 145px;
}

.pt-150 {
    padding-top: 150px;
}

.pt-155 {
    padding-top: 155px;
}

.pt-160 {
    padding-top: 160px;
}

.pt-165 {
    padding-top: 165px;
}

.pt-170 {
    padding-top: 170px;
}

.pt-175 {
    padding-top: 175px;
}

.pt-180 {
    padding-top: 180px;
}

.pt-185 {
    padding-top: 185px;
}

.pt-190 {
    padding-top: 190px;
}

.pt-195 {
    padding-top: 195px;
}

.pt-200 {
    padding-top: 200px;
}

.pt-205 {
    padding-top: 205px;
}

.pt-210 {
    padding-top: 210px;
}

.pt-215 {
    padding-top: 215px;
}

.pt-220 {
    padding-top: 220px;
}

.pt-225 {
    padding-top: 225px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-55 {
    padding-bottom: 55px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-65 {
    padding-bottom: 65px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-85 {
    padding-bottom: 85px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-95 {
    padding-bottom: 95px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-105 {
    padding-bottom: 105px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pb-115 {
    padding-bottom: 115px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-125 {
    padding-bottom: 125px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pb-135 {
    padding-bottom: 135px;
}

.pb-140 {
    padding-bottom: 140px;
}

.pb-145 {
    padding-bottom: 145px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pb-155 {
    padding-bottom: 155px;
}

.pb-160 {
    padding-bottom: 160px;
}

.pb-165 {
    padding-bottom: 165px;
}

.pb-170 {
    padding-bottom: 170px;
}

.pb-175 {
    padding-bottom: 175px;
}

.pb-180 {
    padding-bottom: 180px;
}

.pb-185 {
    padding-bottom: 185px;
}

.pb-190 {
    padding-bottom: 190px;
}

.pb-195 {
    padding-bottom: 195px;
}

.pb-200 {
    padding-bottom: 200px;
}

.pb-205 {
    padding-bottom: 205px;
}

.pb-210 {
    padding-bottom: 210px;
}

.pb-215 {
    padding-bottom: 215px;
}

.pb-220 {
    padding-bottom: 220px;
}

.pb-225 {
    padding-bottom: 225px;
}

.list-group-item {
    color: #010101 !important;
    margin-bottom: 10px !important;
}

.ressources {
    transform: all 0.3s ease-in-out;
}

.ressources:hover {
    color: #010101 !important;
    background-color: #ffc700 !important;
}

/*===========================
    HEADER css
===========================*/

.header {
    position: relative;
    padding-top: 136px;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) {
    .header {
        padding-top: 86px;
    }
}

.header .header-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}

.header-top {
    padding: 10px 0;
}

.header-top ul li {
    display: inline-block;
}

.header-top ul li a {
    color: #fff;
    font-size: 14px;
}

.header-top ul li a i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.header-top ul li a i:hover {
    background: #fff;
    color: #133155;
}

.header-top .header-top-left ul li:first-child {
    margin-right: 35px;
}

.header-top .header-top-left ul li a i {
    margin-right: 10px;
}

.header-top .header-top-right {
    text-align: right;
}

.header-top .header-top-right ul li {
    margin-left: 15px;
}

@media (max-width: 767px) {
    .header-top {
        display: none;
    }
}

/*===== navotherBAR =====*/

.navotherbar-area {
   /* -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    background: #fff;*/
}

.sticky {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sticky .navotherbar {
/*    padding: 10px 0;*/
}

.navotherbar {
   /* padding: 0;
    border-radius: 5px;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 15px 0;*/
}

.navotherbar-brand {
/*    padding: 0;*/
}

.navotherbar-brand img {
/*    max-width: 150px;*/
}

.navotherbar-toggler {
    padding: 0;
}

.navotherbar-toggler .toggler-icon {
    /*width: 30px;
    height: 2px;
    background-color: #222;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;*/
}

.navotherbar-toggler.active .toggler-icon:nth-of-type(1) {
    /*-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;*/
}

.navotherbar-toggler.active .toggler-icon:nth-of-type(2) {
/*    opacity: 0;*/
}

.navotherbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navotherbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }
}

@media (max-width: 767px) {
    .navotherbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(57, 62, 70, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(57, 62, 70, 0.1);
        padding: 5px 12px;
    }
}

.navotherbar-navother .navother-item {
    margin-left: 40px;
    position: relative;
}

.navotherbar-navother .navother-item:first-child {
    margin-left: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navotherbar-navother .navother-item {
        margin-left: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navotherbar-navother .navother-item {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .navotherbar-navother .navother-item {
        margin: 0;
    }
}

.navotherbar-navother .navother-item a {
    font-size: 18px;
    font-weight: 500;
    color: #393e46;
    font-family: "Raleway", sans-serif;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navotherbar-navother .navother-item a {
        display: block;
        padding: 4px 0;
    }
}

@media (max-width: 767px) {
    .navotherbar-navother .navother-item a {
        display: block;
        padding: 4px 0;
    }
}

.navotherbar-navother .navother-item a.active,
.navotherbar-navother .navother-item a:hover {
    color: #133155;
    /* background-color: #112b49e0; */
    /*border-bottom: 2px solid #112b49;*/
    /*padding: 2px;*/
    /*border-radius: 3px 3px 3px 3px;*/
}

.navotherbar-navother .navother-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navotherbar-navother .navother-item:hover .sub-menu {
        top: 0;
    }
}

@media (max-width: 767px) {
    .navotherbar-navother .navother-item:hover .sub-menu {
        top: 0;
    }
}

.navotherbar-navother .navother-item .sub-menu {
    width: 200px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navotherbar-navother .navother-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 767px) {
    .navotherbar-navother .navother-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

.navotherbar-navother .navother-item .sub-menu li {
    display: block;
}

.navotherbar-navother .navother-item .sub-menu li a {
    display: block;
    padding: 8px 20px;
    color: #222;
}

.navotherbar-navother .navother-item .sub-menu li a.active,
.navotherbar-navother .navother-item .sub-menu li a:hover {
    padding-left: 25px;
    color: #133155;
}

.navotherbar-navother .sub-navother-toggler {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navotherbar-navother .sub-navother-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #222;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 767px) {
    .navotherbar-navother .sub-navother-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #222;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px;
    }
}

.navotherbar-navother .sub-navother-toggler span {
    width: 8px;
    height: 8px;
    border-left: 1px solid #222;
    border-bottom: 1px solid #222;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
}

/*===========================
    Slider CSS
===========================*/

.slider-section {
    position: relative;
}

.slider-section .single-slider {
    position: relative;
    z-index: 1;
}

.slider-section .single-slider::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#133155),
        color-stop(70.76%, rgba(0, 173, 181, 0.11)),
        to(rgba(255, 255, 255, 0))
    );
    background-image: linear-gradient(
        to right,
        #133155 0%,
        rgba(0, 173, 181, 0.11) 70.76%,
        rgba(255, 255, 255, 0) 100%
    );
}

.slider-section .single-slider .slider-content {
    padding: 190px 0 200px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-section .single-slider .slider-content {
        padding: 160px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-section .single-slider .slider-content {
        padding: 110px 0px;
    }
}

@media (max-width: 767px) {
    .slider-section .single-slider .slider-content {
        padding: 100px 0px;
    }
}

.slider-section .single-slider .slider-content h1 {
    font-size: 50px;
    line-height: 76px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-section .single-slider .slider-content h1 {
        font-size: 60px;
        line-height: 72px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-section .single-slider .slider-content h1 {
        font-size: 54px;
        line-height: 66px;
    }
}

@media (max-width: 767px) {
    .slider-section .single-slider .slider-content h1 {
        font-size: 36px;
        line-height: 48px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slider-section .single-slider .slider-content h1 {
        font-size: 45px;
        line-height: 55px;
    }
}

.slider-section .single-slider .slider-content p {
    color: #fff;
    margin-bottom: 30px;
}

.slider-section .single-slider .slider-content .theme-btn {
    background: #fff;
    color: #133155;
}

.slider-section .single-slider .slider-content .theme-btn:hover {
    -webkit-box-shadow: 0 10px 25px rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.5);
}

.slider-section .tns-navother {
    bottom: 60px;
}

.slider-section .tns-navother button {
    background: rgba(255, 255, 255, 0.4);
}

.slider-section .tns-navother button.tns-navother-active {
    background: #fff;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.we-do-section {
    position: relative;
}

.we-do-section .shape {
    left: -100px;
}

.we-do-section .we-do-item {
    text-align: center;
}

.we-do-section .we-do-item .we-do-icon {
    width: 87px;
    height: 87px;
    line-height: 83px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 25px rgba(0, 173, 181, 0.15);
    box-shadow: 0 0 25px rgba(0, 173, 181, 0.15);
}

/*===========================
    About css
===========================*/

.about-section {
    position: relative;
    overflow: hidden;
}

.about-section .shape {
    right: -50px;
    top: 160px;
}

.about-section .about-content p {
    /*padding: 0 15px;*/
    text-align: justify;
    margin-top: -30px;
}

@media (max-width: 767px) {
    .about-section .about-content p {
        padding: 0;
    }
}

.service-section {
    position: relative;
}

.service-section .shape {
    top: 160px;
    left: -50px;
}

@media (min-width: 800px) {
    .service-section .service-item {
        border-radius: 20px;
        -webkit-box-shadow: 0 10px 35px rgb(229 232 235);
        box-shadow: 0 10px 35px rgb(17 43 73 / 21%);
        -webkit-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        position: relative;
        padding: 20px;
        z-index: 1;
        min-height: 180px;
        width: 350px;
    }
}

@media (max-width: 800px) {
    .service-section .service-item {
        border-radius: 20px;
        -webkit-box-shadow: 0 10px 35px rgb(229 232 235);
        box-shadow: 0 10px 35px rgb(17 43 73 / 21%);
        -webkit-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        position: relative;
        padding: 20px;
        z-index: 1;
        min-height: 180px;
        width: 300px;
    }
}

@media (max-width: 280px) {
    .service-section .service-item {
        border-radius: 20px;
        -webkit-box-shadow: 0 10px 35px rgb(229 232 235);
        box-shadow: 0 10px 35px rgb(17 43 73 / 21%);
        -webkit-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        position: relative;
        padding: 20px;
        z-index: 1;
        min-height: 180px;
        width: 250px !important;
    }
}

@media (max-width: 540px) {
    .service-section .service-item {
        border-radius: 20px;
        -webkit-box-shadow: 0 10px 35px rgb(229 232 235);
        box-shadow: 0 10px 35px rgb(17 43 73 / 21%);
        -webkit-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        position: relative;
        padding: 20px;
        z-index: 1;
        min-height: 180px;
        width: 100%;
    }
    .service-section .service-item .service-content h4 {
        width: 305px !important;
    }
}

@media (max-width: 380px) {
    .service-section .service-item {
        border-radius: 20px;
        -webkit-box-shadow: 0 10px 35px rgb(229 232 235);
        box-shadow: 0 10px 35px rgb(17 43 73 / 21%);
        -webkit-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        position: relative;
        padding: 20px;
        z-index: 1;
        min-height: 180px;
        width: 100% !important;
    }
    .service-section .service-item .service-content h4 {
        width: 220px !important;
    }
}

@media only screen and (max-width: 411px) and (min-width: 380px) {
    .service-section .service-item {
        border-radius: 20px;
        -webkit-box-shadow: 0 10px 35px rgb(229 232 235);
        box-shadow: 0 10px 35px rgb(17 43 73 / 21%);
        -webkit-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        position: relative;
        padding: 20px;
        z-index: 1;
        min-height: 180px;
        width: 100% !important;
    }
    .service-section .service-item .service-content h4 {
        width: 267px !important;
    }
}

.align-center {
    justify-content: center !important;
}

.service-section .service-item .service-icon svg {
    color: #072b49 !important;
    font-size: 60px !important;
}

.service-section .service-item:hover {
    color: #fff !important;
}

.service-section .service-item .service-icon svg path {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.service-section .service-item .service-content h4 {
    margin-bottom: 20px;
    font-size: 1.26rem !important;
    line-height: 1.7rem !important;
    font-weight: 500;
}

.service-section .service-item .service-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
    background-color: #133155;
    /* background: url("../img/service/service-1.png"); */
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.service-section .service-item .service-overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: #072b49;
}

.service-section .service-item:hover .service-icon svg path {
    fill: #fff;
}

.service-section .service-item:hover .service-content h4,
.service-section .service-item:hover .service-content p,
.service-section .service-item:hover .service-content a {
    color: #fff;
}

.service-section .service-item:hover .service-overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.faq-section {
    position: relative;
    overflow: hidden;
}

.faq-section .faq-video-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    width: 50%;
}

@media only screen and (min-width: 1400px) {
    .faq-section .faq-video-wrapper {
        width: 48%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .faq-section .faq-video-wrapper {
        width: 47%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .faq-section .faq-video-wrapper {
        position: unset;
        display: block;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .faq-section .faq-video-wrapper {
        position: unset;
        display: block;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .faq-section .faq-video-wrapper {
        position: unset;
        display: block;
        width: 100%;
    }
}

.faq-section .faq-video-wrapper .faq-video {
    position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .faq-section .faq-video-wrapper .faq-video img {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .faq-section .faq-video-wrapper .faq-video img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .faq-section .faq-video-wrapper .faq-video img {
        width: 100%;
    }
}

.faq-section .faq-video-wrapper .faq-video .video-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.faq-section .faq-video-wrapper .faq-video .video-btn a {
    display: inline-block;
    width: 77px;
    height: 77px;
    line-height: 77px;
    background: #133155;
    color: #fff;
    position: relative;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
}

.faq-section .faq-video-wrapper .faq-video .video-btn a::before {
    content: "";
    position: absolute;
    width: 129px;
    height: 129px;
    border-radius: 50%;
    background: rgba(0, 173, 181, 0.16);
    z-index: -1;
    top: -26px;
    left: -26px;
    -webkit-animation: animation1 2s linear infinite;
    animation: animation1 2s linear infinite;
}

.faq-section .faq-video-wrapper .faq-video .video-btn a::after {
    content: "";
    position: absolute;
    width: 199px;
    height: 199px;
    border-radius: 50%;
    background: rgba(0, 173, 181, 0.13);
    z-index: -1;
    top: -61px;
    left: -61px;
    -webkit-animation: animation1 2s linear infinite 2s;
    animation: animation1 2s linear infinite 2s;
}

.faq-section .shape {
    position: absolute;
    right: -150px;
    top: 0;
}

.faq-section .faq-content-wrapper .faq-wrapper .faq-item {
    background: #08bbc4;
    border-radius: 10px;
}

.faq-section .faq-content-wrapper .faq-wrapper .faq-item .faq-btn {
    display: block;
    width: 100%;
    text-align: left;
    font-style: italic;
    color: #fff;
    background: none;
    font-size: 20px;
    padding: 20px 50px 20px 30px;
    position: relative;
    white-space: normal;
}

.faq-section .faq-content-wrapper .faq-wrapper .faq-item .faq-btn i {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 12px;
}

.faq-section .faq-content-wrapper .faq-wrapper .faq-item .faq-btn i::before {
    content: "\eb2c";
    font: normal normal normal 1em/1 "LineIcons";
}

.faq-section
    .faq-content-wrapper
    .faq-wrapper
    .faq-item
    .faq-btn.collapsed
    i::before {
    content: "\eb53";
}

.faq-section .faq-content-wrapper .faq-wrapper .faq-item .faq-content {
    color: #fff;
    padding: 5px 30px 30px;
    font-size: 16px;
    line-height: 25px;
}

.subscribe-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.subscribe-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ffffff),
        color-stop(rgba(255, 255, 255, 0.95)),
        color-stop(rgba(255, 255, 255, 0.64)),
        color-stop(rgba(255, 255, 255, 0.02)),
        to(rgba(255, 255, 255, 0))
    );
    background-image: linear-gradient(
        to right,
        #ffffff,
        rgba(255, 255, 255, 0.95),
        rgba(255, 255, 255, 0.64),
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0)
    );
    z-index: -1;
}

.subscribe-section .subscribe-wrapper .subscribe-from {
    margin-bottom: 50px;
}

.subscribe-section .subscribe-wrapper .subscribe-from input {
    width: 100%;
    max-width: 570px;
    height: 65px;
    font-size: 14px;
    border: none;
    background: #fff;
    padding: 0 30px;
    color: #8c96a7;
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-box-shadow: 0 0 42px rgba(0, 173, 181, 0.15);
    box-shadow: 0 0 42px rgba(0, 173, 181, 0.15);
    margin-bottom: 20px;
}

.subscribe-section .subscribe-wrapper .subscribe-from input:focus {
    border-color: #133155;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .subscribe-section .subscribe-wrapper .subscribe-from input {
        width: 470px;
    }
}

@media (max-width: 767px) {
    .subscribe-section .subscribe-wrapper .subscribe-from input {
        width: 100%;
    }
}

.subscribe-section .subscribe-wrapper .support {
    margin-bottom: 35px;
}

.subscribe-section .subscribe-wrapper .support .support-icon {
    margin-right: 20px;
}

@media (max-width: 767px) {
    .subscribe-section .subscribe-wrapper .support h2 {
        font-size: 30px;
    }
}

.subscribe-section .subscribe-wrapper .support h2 span {
    color: #133155;
    display: block;
}

.subscribe-section .subscribe-wrapper .subscribe-links ul li {
    display: inline-block;
}

.subscribe-section .subscribe-wrapper .subscribe-links ul li a i {
    width: 49px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #8c96a7;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.subscribe-section .subscribe-wrapper .subscribe-links ul li a span {
    font-size: 26px;
    font-weight: 600;
    color: #133155;
    margin-right: 40px;
}

.subscribe-section .subscribe-wrapper .subscribe-links ul li a:hover i {
    background: #133155;
}

.subscribe-section .subscribe-wrapper .subscribe-links ul li:last-child a {
    margin-right: 0;
}

.subscribe-section .subscribe-wrapper .subscribe-links ul li:first-child a i {
    background: #133155;
}

@media (max-width: 767px) {
    .subscribe-section .subscribe-wrapper .subscribe-links ul li:first-child {
        display: block;
        margin-bottom: 15px;
    }
}

/*===========================
    Blog css
===========================*/

.blog-section {
    position: relative;
    overflow: hidden;
}

.blog-section .shape {
    top: 235px;
    right: -30px;
}

.blog-section .single-blog .blog-img {
    margin-bottom: 25px;
    border-radius: 6px 6px 0px 0px;
    overflow: hidden;
}

.blog-section .single-blog .blog-img a {
    display: block;
}

.blog-section .single-blog .blog-img a img {
    width: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    min-height: 300px;
}

.blog-section .single-blog .blog-content h4 {
    margin-bottom: 10px;
}

.blog-section .single-blog .blog-content h4:hover {
    color: #133155;
}

.blog-section .single-blog .blog-content p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}

/*.blog-section .single-blog:hover .blog-img img {*/

/*    -webkit-transform: scale(1.3) rotate(-7deg);*/

/*    transform: scale(1.3) rotate(-7deg);*/

/*}*/

/*===========================
    footer css
===========================*/

.footer .footer-widget-wrapper .footer-widget a.logo,
.footer-widget a.logo {
    margin-bottom: 35px;
}

.footer .footer-widget-wrapper .footer-widget h4,
.footer-widget h4 {
    color: #fff;
    margin-bottom: 35px;
    margin-top: 40px;
}

.footer .footer-widget-wrapper .footer-widget p,
.footer-widget p {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 38px;
}

.footer .footer-widget-wrapper .footer-widget .footer-links li a,
.footer-widget .footer-links li a {
    color: #fff;
    line-height: 37px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.footer .footer-widget-wrapper .footer-widget .footer-links li a:hover,
.footer-widget .footer-links li a:hover {
    color: #ffc700;
    padding-left: 8px;
}

.footer .footer-widget-wrapper .footer-widget .footer-social-links ul li {
    display: inline-block;
}

.footer .footer-widget-wrapper .footer-widget .footer-social-links ul li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: #8c96a7;
    border-radius: 5px;
    margin-right: 20px;
}

.footer
    .footer-widget-wrapper
    .footer-widget
    .footer-social-links
    ul
    li
    a:hover {
    background: #133155;
}

.footer
    .footer-widget-wrapper
    .footer-widget
    .footer-social-links
    ul
    li:last-child
    a {
    margin-right: 0;
}

.footer .copyright-area {
    padding: 25px 0;
    border-top: 1px solid #f1f1f1;
    background-color: #fff !important;
}

.footer .copyright-area a p {
    color: #010101 !important;
}

.footer .copyright-area a p:hover {
    color: #133155 !important;
}

.footer .container {
    padding: 80px 0 !important;
    margin-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
    .footer .container {
        padding: 80px 30px !important;
        margin-bottom: 0 !important;
    }
    .footer .copyright-area {
        padding: 40px 0px;
        border-top: 1px solid #f1f1f1;
        background-color: #fff !important;
    }
    .sponsors {
        flex-direction: column !important;
    }
    .footer .copyright-area a p {
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
    .sponsors {
        margin: 0 40px;
    }
}
.w-80 {
    width: 80%;
}

.text_bref {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 59px;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img_anno {
    height: 160px !important;
}

.titre_anno {
    border-bottom-style: double;
    border-bottom-color: #4381ec;
}

.section_margin {
    margin-top: 30px;
}

.card_bottom {
    margin-bottom: 10px !important;
}

.box-1wcm {
    background-color: #112b49;
    height: 33.33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnwcm {
    line-height: 50px;
    height: 50px;
    text-align: center !important;
    width: 250px;
    cursor: pointer;
}

/*
========================
      BUTTON ONE
========================
*/

.btn-onewcm {
    color: #fff;
    transition: all 0.3s;
    position: relative;
}

.btn-onewcm span {
    transition: all 0.3s;
}

.btn-onewcm::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(0.1, 1);
}

.btn-onewcm:hover span {
    letter-spacing: 2px;
}

.btn-onewcm:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-onewcm::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
}

.btn-onewcm:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.card {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 3px 8px 8px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    transition: box-shadow 0.25s;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div > p {
    /*padding-bottom: 42px !important;
    padding-top: 0px;
    line-height: 28px;*/
    line-height: 25px;
    margin-bottom: 40px;
    color: #000000;
    font-size: 17px;
}

.btn_dow {
    color: #112b49;
    border-color: #112b49;
}

.btn_dow:hover {
    color: #fff;
    background-color: #112b49;
    border-color: #112b49;
}

.bg-arrete {
    padding: 7px;
    border-radius: 10px;
}

.btn-pdf {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.two-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.three-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.w-100 {
    width: 450px !important;
}

.blog-card {
    min-height: 400px;
    margin-top: 30px;
}

.social {
    font-size: 40px !important;
}

@media screen and (max-width: 768px) {
    .justify-content {
        justify-content: center !important;
    }
}

.fz-3 {
    font-size: 30px !important;
}

img {
    max-width: 100%;
}

.gallery {
    padding: 0 0 80px 0;
}

.gallery img {
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#gallery-modal .modal-img {
    width: 100%;
}

.folder-media {
    font-size: 1.7rem;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid #072b49;
    transition: all 0.3s ease-out;
}

.folder-media:hover {
    background-color: #f1f1f1 !important;
    color: #072b49 !important;
}

.folder-media i {
    display: block;
    font-size: 80px;
    margin-bottom: 20px;
}
.icon-search {
    font-size: 30px;
    font-weight: 700;
    margin-top: -5px;
    cursor: pointer;
    transition: all 5s ease-in-out;
}
.search-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 99999999;
    overflow: hidden !important;
    height: 4000px;
}
.search-content form {
    position: relative;
    height: 100vh;
}
.search-content form .form-group {
    position: relative;
    top: 50%;
}
@media screen and (min-width: 800px) {
    .search-content form .form-group {
        margin: 0 180px;
    }
}
.search-content form .form-group input {
    border: none;
    border-bottom: 2px solid #072b49;
    width: 100%;
}
.search-content form .form-group input:focus {
    border-bottom: 2px solid #072b49;
    box-shadow: none;
}
.border-left-secondaryColor {
    border-left: 2px solid #072b49;
}
@media screen and (max-width: 800px) {
    .filtre {
        flex-direction: column;
    }
}

.fslightbox-container {
    height: 100% !important;
}
.fslightbox-navother {
    height: 45px !important;
}
.fslightbox-full-dimension {
    height: 100% !important;
}
.fslightbox-flex-centered {
    width: none !important;
    height: none !important;
}
.video-link img {
    filter: brightness(68%);
    -webkit-filter: brightness(68%);
    -moz-filter: brightness(68%);
}
.playIcon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    left: 50%;
    right: 0;
    bottom: 0;
    color: #e62e2d;
    font-size: 80px;
    text-align: center;
}
